<launch>

  <arg name="publisher_uav_node_id" default="97"/>
  <arg name="subscriber_uav_node_id" default="98"/>

  <node name="ros_to_uavcan_bridge_node" pkg="uavcan_ros_bridge" type="ros_to_uavcan_bridge" respawn="true" output="screen">
    <param name="uav_node_id" value="$(arg subscriber_uav_node_id)"/>
    <remap from="~command" to="uavcan_command"/>
    <remap from="~array_command" to="uavcan_array_command"/>
    <remap from="~vbs_command" to="uavcan_vbs_command"/>
    <remap from="~tcg_command" to="uavcan_tcg_command"/>
    <remap from="~lcg_command" to="uavcan_lcg_command"/>
  </node>

  <node name="uavcan_to_ros_bridge_node" pkg="uavcan_ros_bridge" type="uavcan_to_ros_bridge" respawn="false" output="screen">
    <param name="uav_node_id" value="$(arg publisher_uav_node_id)"/>
    <remap from="~imu" to="uavcan_imu"/>
    <remap from="~pressure1" to="uavcan_pressure2"/>
    <remap from="~pressure2" to="uavcan_pressure2"/>
  </node>

</launch>
